.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-entry {
    width: 300px;
    height: 40vh;
}

.left-side {
    background-color: #354c52;
}

.btn-mine {
    background-color: #354c52;
    color: white;
}

.btn-mine:hover {
    background-color: #49666d;
    color: white;
}

.zero-fifty {
    display: none;
}

.zero-fifty img {
    max-height: 233px;
}